*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }


body {
    font-family: 'Roboto', sans-serif;
    background-color:rgb(50, 51, 66);
}
/* the main container */

.front-side,
.back-side {
  width: 390px;
  height: 220px;
  /* display: grid; */
  /* each student will customize based on their grid */
  /* grid-template-columns: 2% 96% 2%;
  grid-template-rows: 4% 92% 4%; */
  position: relative;
  /* adjust this to space out the cards */
  margin: 30px auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-color:rgb(40, 18, 30);
}

.img{
  background-image: url(cardfrontAsset1.svg);
  position:fixed;
}

.name{
  display: grid;
  position: relative;
  margin-left:130px;
  margin-top:50px;
  font-size: 19px;
  color : rgb(205, 227, 209);
  
}

.title{
  display: grid;
  position: relative;
  margin-top: 3px;
  margin-left: 122px;
  font-size: 14px;
  color : rgb(205, 227, 209);
  opacity: 0.75;
}

.website{
  display: grid;
  position: relative;
  margin-top: 7px;
  margin-left: 160px;
  font-size : 16px;
  color : rgb(205, 227, 209);
}

.instagram{
  display: grid;
  position: relative;
  margin-top: 4px;
  margin-left: 170px;
  font-size : 16px;
}

.email{
  display: grid;
  position: relative;
  margin-top: 4px;
  margin-left: 120px;
  font-size : 16px;
}

h2{
  font-weight: 500;
}

h3{
  font-weight: 400;
}

h5{
 font-weight: 300;
 color:rgb(0, 157, 136);
}

.container {      
  height: 14;             
  width: 14;    
  padding-top: 14;
  position: relative; 
}

iframe {
  position: absolute;
  top: 132;
  left: 152;
  border: none;
}

object{
  position: absolute;
  height: 220;
  width: 388;
} 

.ends{
  position: absolute;
  right: 10;
  height: 220; 
  width: 375;
}

.insta{
  position: absolute;
  top: 132;
}
